# Starting off

### For last week's lab?
- How did you store your data after scraping or pulling from the API?
- Did you run into any issuesstoring your data this way?
- What would you do if you need to update the saved data or add additional data points?

# A BEGINNER’S GUIDE TO DATABASES & SQL

**Objective:** SWBAT create a SQLite db instance, create tables and insert records into those tables

**Agenda:**
- Overview of databases
- Discuss Differences between SQL DBs
- Explain the basic structures of a RDBMS
- Instantiate SQLite DB instance on your computer

### What is a Database?
- In general, databases store sets of data that can be queried for use in other applications. A database man
agement system supports the development, administration and use of database platforms.


### What is a Relational Database? 
- A *relational database management system* (**RDBMS**) is a type of DBMS with a row-based table structure that connects related data elements and includes functions that maintain the security, accuracy, integrity and consistency of the data.
- The most basic **RDBMS** functions are related to *create, read, update and delete* operations, collectively known as **CRUD**.

### What is SQL?

- **SQL** (usually pronounced like the word “sequel”) stands for Structured Query Language.
- A programming language used to communicate with data stored in a relational database management system.
- SQL syntax is similar to the English language, which makes it relatively easy to write, read, and interpret.

## POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

### SQLite

- SQLite is a popular open source SQL database. 
- It can store an entire database in a single file.
- It is 'lite' because it is not server based.
- Does not have many features of server-based RDBMS like users and permissions.
- Great to get up and running quick, not good for complex projects.

### MySQL

- MySQL is the most popular open source SQL database. 
- It is typically used for web application development, and often accessed using PHP. 
- It is easy to use, inexpensive, reliable and has a large community of developers who can help answer questions.
- Open source development has lagged since Oracle has taken control of MySQL.
- Has been known to suffer from poor performance when scaling, 
- Does not include some advanced features that developers may be used to.

### PostgreSQL

- PostgreSQL is an open-source SQL database that is not controlled by any corporation.
- PostgreSQL shares many of the same advantages of MySQL.
- It is slower in performance than other databases such as MySQL
- Harder to come by hosts or service providers that offer managed PostgreSQL instances.

### Oracle DB

- Owned by Oracle Corporation, and the code is not open sourced. 
- Oracle DB is for large applications, particularly in the banking industry. 
- The main disadvantage of using Oracle is that it is not free.

### SQL Server

- Microsoft owns SQL Server. 
- Large enterprise applications mostly use SQL Server.
- Microsoft offers a free entry-level version called Express but can become very expensive as you scale your application.

### What are the major parts of a SQL DB?

- Schema
- Tables
- Indexes
- Views
- Store Procedures
- Triggers

#### Schema
A relational database schema helps you to organize and understand the structure of a database.

![alt text](employees-schema.png)

### Entity-Relationship Model

Entity-Relationship (ER) Model is based on the notion of real-world entities and relationships among them. While formulating real-world scenario into the database model, the ER Model creates entity set, relationship set, general attributes and constraints.

<img src="er_model_intro.png" >

**Entity** − An entity in an ER Model is a real-world entity having properties called attributes. Every attribute is defined by its set of values called domain. For example, in a school database, a student is considered as an entity, with various attributes like name, age, class, etc.

**Relationship** − The logical association among entities is called relationship. Relationships are mapped with entities in various ways. 

**Relationship Mappings** −

- one to one
- one to many
- many to one
- many to many

#### Tables
Tables are used to store data within the database.  They are its main component and without them, the database would serve little purpose.

- Tables can have hundreds, thousands, sometimes even millions of rows of data. These rows are often called **records**.
- The consists of **columns** of data that are labeled with a descriptive name (say, age for example) and have a specific data type.

### Indexes
Indexes are used to make data retrieval faster. Rather than having to scan an entire table for data, an index allows the database to, directly retrieve the data being asked of it.

Indexes are primariy created using using a **Primary Key**.
A primary key’s main features are:

- It must contain a unique value for each row of data.
- It cannot contain null values.

A primary key is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

If you were a tax accountant and you wanted to create a database of your clients, which of the following columns who be a good choice for your primary key?

- First Name
- Last Name
- Email Address
- SSN
- Phone Number

### Views 

Help combat this issue by allowing the database administrator to create “canned” or pre-built queries.

Allow you to pull data from multiple tables together without moving or copying the data.

### Stored Procedures

There are many situations where queries alone are insufficient to solve a problem.  In these cases, developers rely on programming languages to process logic, to loop through records, and perform conditional comparisons as required.  These programs can be stored in the SQL database as stored procedures.

### Triggers

Triggers are special instructions that are executed when important events, such as inserting or updating records in a table happen. The most common triggers are Insert, Update, and Delete triggers.  

Two items define a trigger on a table: a stored procedure and an event, such as inserting a record that invokes its execution.

## Working With SQLite

SQLite comes standard with Python so all you need to do to get it set up is write:

`import sqlite3`

There are specific python modules that you can use to work with SQL dbs depending on the DB.

- Microsoft SQL = pymssql
- Postgres = psycopg2
- MySQLdb = MySQLDB

### Creating a Connection

Before you can do anything with your DB, you must first create a connection with it. For DBs that are server based, this can be more coplicated requiring you to know the server ip, a username, password database name, and port. 
``` python 
import MySQLdb
conn = MySQLdb.connect(host=host, user=user, passwd=passwd, db=db)
```

For SQLite, this is much easier because you just need to access the flat file where the DB is stored.

In [1]:
import sqlite3

conn = sqlite3.connect('tutorial.db')

#### Cursor
This temporary work area is used to store the data retrieved from the database, and manipulate this data. 

A cursor can hold more than one row, but can process only one row at a time. 

The set of rows the cursor holds is called the active set.

In [2]:
c = conn.cursor()

#### Create a Table
Now that we have a connection and a cursor, lets create a table.

#### SQLite Data Types

Any column declared in an SQLite database is assigned a type affinity depending on it declared data type. Here the list of type affinities in SQLite:

- TEXT
- NUMERIC
- INTEGER
- REAL
- BLOB

However, you still can store any type of data as you wish, these types are recommended not required.

These types were introduced in SQLite to maximize the compatibility between SQLite and other database management system.

<img src="SQLlite_datatype.jpg" width=450/>

In [ ]:
create_query = """CREATE TABLE IF NOT EXISTS stuffToPlot
        (unix REAL, datestamp TEXT, keyword TEXT, value REAL)"""
def create_table(query):
    c.execute(query)

In [ ]:
insert_query = """INSERT INTO stuffToPlot VALUES
                (1452549219,'2016-01-11 13:53:39','Python',6)"""
def data_entry(query):
    c.execute(query)

    conn.commit()
    
def close_c_conn():
    c.close()
    conn.close()

In [ ]:
create_table(create_query)
data_entry(insert_query)

close_c_conn()

#### Inserting Data dynamically

In [ ]:
import time
import datetime
import random

In [ ]:
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [ ]:
def dynamic_data_entry():

    unix = int(time.time())
    date = str(datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S'))
    keyword = 'Python'
    value = random.randrange(0,10)

    c.execute("INSERT INTO stuffToPlot (unix, datestamp, keyword, value) VALUES (?, ?, ?, ?)",
          (unix, date, keyword, value))

    conn.commit()

In [ ]:
for i in range(10):
    dynamic_data_entry()
    time.sleep(1)

# c.close
# conn.close()

We can also write a query that reads from the DB

In [ ]:
def read_from_db():
    c.execute('SELECT * FROM stuffToPlot')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

read_from_db()

We can also read a table straight into a pandas DF.

In [ ]:
import pandas as pd
pd.read_sql_query("select * from stuffToPlot;", conn)

And we can create a DB table directly from a pandas DF.

In [ ]:
cities = pd.read_csv('cities.csv')
cities.head()

In [ ]:
cities.to_sql("cities", conn, if_exists="replace")

In [ ]:
def read_from_db():
    c.execute('SELECT * FROM cities LIMIT 10')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

read_from_db()

### Your Turn

In the zip folder you have a json file with informationa bout all of the students in this class.  
- Read in the JSON file
- Examine data in file
- Create a table for the data
- Create a function to insert each data entry dynamically
- Insert Data
- Write queries to answer the following questions

In [3]:
#your code here
import json
f=open('students.json','r')
data=json.load(f)

In [4]:
data

[{'name': 'Sean Abu Wilson',
  'birthdate': '02/06',
  'siblings': 2,
  'Birthplace': 'Birmingham, AL',
  'yearsinnyc': 7.6,
  'favoritefood': 'guacamole'},
 {'name': 'David Miller',
  'birthdate': '06/06',
  'siblings': 2,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 25.75,
  'favoritefood': 'pizza'},
 {'name': 'Abhijeet Kamble',
  'birthdate': '05/07',
  'siblings': 0,
  'Birthplace': 'Wardha India',
  'yearsinnyc': 0.5,
  'favoritefood': 'Biriyani'},
 {'name': 'Samantha Jackson',
  'birthdate': '08/04',
  'siblings': 2,
  'Birthplace': 'Newport, RI',
  'yearsinnyc': 12.5,
  'favoritefood': 'chocolate chip cookies'},
 {'name': 'Anmol Srivats',
  'birthdate': '11/19',
  'siblings': 0,
  'Birthplace': 'Bangalore, India',
  'yearsinnyc': 0.05,
  'favoritefood': 'Sushi'},
 {'name': 'Ran Tokman',
  'birthdate': '03/19',
  'siblings': 2,
  'Birthplace': 'Haifa, Israel',
  'yearsinnyc': 8,
  'favoritefood': 'cheesecake'},
 {'name': 'Amy Li',
  'birthdate': '12/29',
  'siblings': 1,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 18,
  'favoritefood': 'dumplings'},
 {'name': 'Florencia Leoni',
  'birthdate': '06/07',
  'siblings': 4,
  'Birthplace': 'Caracas, Venezuela',
  'yearsinnyc': 1.2,
  'favoritefood': 'steak'},
 {'name': 'Austin Krause',
  'birthdate': '10/22',
  'siblings': 1,
  'Birthplace': 'Lansing, MI',
  'yearsinnyc': 0.17,
  'favoritefood': 'Everything Bagels'},
 {'name': 'Natalie Overchuk',
  'birthdate': '01/02',
  'siblings': 2,
  'Birthplace': 'Kiev, Ukraine',
  'yearsinnyc': 0.1,
  'favoritefood': 'pasta'},
 {'name': 'Akshay Sharma',
  'birthdate': '04/30',
  'siblings': 2,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 24,
  'favoritefood': 'pizza'},
 {'name': 'Mohamad Eldebek',
  'birthdate': '01/21',
  'siblings': 4,
  'Birthplace': 'Beirut, Leb',
  'yearsinnyc': 17,
  'favoritefood': 'Tabouleh'},
 {'name': 'Adam Dick',
  'birthdate': '05/06',
  'siblings': 0,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 30,
  'favoritefood': 'noodles'},
 {'name': 'Menachi Korn',
  'birthdate': '04/11',
  'siblings': 4,
  'Birthplace': 'Denville, N.J.',
  'yearsinnyc': 18,
  'favoritefood': 'falafel'},
 {'name': 'Miguel Peña',
  'birthdate': '08/14',
  'siblings': 4,
  'Birthplace': 'Lima, Peru',
  'yearsinnyc': 8,
  'favoritefood': 'rice'},
 {'name': 'Atiar Rahman',
  'birthdate': '02/21',
  'siblings': 2,
  'Birthplace': 'Bangladesh',
  'yearsinnyc': 22,
  'favoritefood': 'Reeses Puffs'},
 {'name': 'Fhel Dimaano',
  'birthdate': '08/20',
  'siblings': 1,
  'Birthplace': 'Manila, Philippines',
  'yearsinnyc': 30,
  'favoritefood': 'Kare Kare'},
 {'name': 'Maks Pazuniak',
  'birthdate': '12/19',
  'siblings': 2,
  'Birthplace': 'Wilmington, DE',
  'yearsinnyc': 15,
  'favoritefood': 'pho'},
 {'name': 'Alex Mitrani',
  'birthdate': '12/06',
  'siblings': 1,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 28,
  'favoritefood': 'Fusilli Sorrentina'},
 {'name': 'Yish Lim',
  'birthdate': '11/21',
  'siblings': 2,
  'Birthplace': 'Singapore',
  'yearsinnyc': 5,
  'favoritefood': 'burgers'},
 {'name': 'Nicole Roach',
  'birthdate': '06/16',
  'siblings': 1,
  'Birthplace': 'Brooklyn, NY',
  'yearsinnyc': 18,
  'favoritefood': 'steak'},
 {'name': 'Omer Hakim',
  'birthdate': '04/30',
  'siblings': 3,
  'Birthplace': 'Haifa, Israel',
  'yearsinnyc': 3.5,
  'favoritefood': 'Avocado'}]

In [6]:
import sqlite3

conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [8]:

c.execute('''
CREATE TABLE students(
name TEXT,
birthdate TEXT,
siblings INTEGER,
birth_place TEXT,
years_in_nyc REAL,
favorite_food TEXT
);
''')

c.commit()

OperationalError: table students already exists

In [13]:
conn.commit()

In [ ]:
def insert_data(i):

In [12]:
for i in data:
  c.execute('''INSERT INTO students
  (name, birthdate, siblings, birth_place, years_in_nyc, favorite_food) VALUES (?, ?, ?, ? , ? , ? )''',
     (i['name'],i['birthdate'], i['siblings'], i['Birthplace'], i['yearsinnyc'], i['favoritefood']))

In [ ]:
content_file:
    raw = json.load(content_file)
    records = []
    
    for line in content_file:
        jo = line
        record = (jo.get('name'), jo.get('birthdate'), jo.get('siblings'), jo.get('Birthplace'), jo.get('yearsinnyc'), jo.get('favoritefood'))
        records.append(record)

    try:
        conn = sqlite3.connect("students")
        c = conn.cursor()
        c.executemany("INSERT INTO students VALUES (?, ?, ?, ?, ?, ?,?)", records)
        conn.commit()
#         conn.close()
    except:
        # TODO: logging here
        raise

print("Finished Processing")

### Questions
1. Which student was born closest to the cohort's graduation date?
2. Which student has the most siblings?
3. How many students are only children?
4. Which 3 students have lived in NYC the shortest amount of time?
5. How many students are native New Yorkers?
5. Do any two students have the same favorite food?

In [16]:
c.execute("""SELECT name, siblings 
FROM students 
WHERE siblings = (SELECT MAX(siblings) FROM students);""").fetchall()

[('Florencia Leoni', 4),
 ('Mohamad Eldebek', 4),
 ('Menachi Korn', 4),
 ('Miguel Peña', 4)]

In [22]:
c.execute("""SELECT COUNT(name)
FROM students 
WHERE siblings = 0;""").fetchone()

(3,)

In [24]:
c.execute("""SELECT favorite_food, count(favorite_food)
FROM students
GROUP BY favorite_food
HAVING count(favorite_food) > 1
""").fetchall()

[('pizza', 2), ('steak', 2)]

In [26]:
c.execute('''select  name, birth_place from Students where birth_place like '%NY' ''').fetchall()

[('David Miller', 'New York, NY'),
 ('Amy Li', 'New York, NY'),
 ('Akshay Sharma', 'New York, NY'),
 ('Adam Dick', 'New York, NY'),
 ('Alex Mitrani', 'New York, NY'),
 ('Nicole Roach', 'Brooklyn, NY')]

In [27]:
c.execute('''
SELECT name, 
abs(julianday('2018' || '-' || substr(birthdate,1,2) || '-' || substr(birthdate,4,2)) - 
julianday('2018-06-21')) 
AS Days_From_Graduation
FROM students
ORDER BY 2
LIMIT 1
''').fetchall()

[('Nicole Roach', 5.0)]

In [28]:
c.execute("""UPDATE students set birthdate = replace(birthdate, '/','.') ;""")
c.execute("""SELECT name,birthdate,min(abs(birthdate - 6.21)) from students;""").fetchall()

[('Nicole Roach', '06.16', 0.04999999999999982)]